/* style.scss */
@import 'compass'; 
/*@import "bourbon/bourbon";
@import "neat/neat";*/
@import 'normalize.css';

$test: black;
$primary: #FFFFFF;
$highlights: red;

clear{ 
	background: url('../images/train.jpg') fixed;
}


* { @include box-sizing(border-box); }

html{
	background: $primary;
	font-size: 16px;
    border-top: solid .125rem $highlights;
    
}

body {
	@extend clear;
}

article {
	background: #fff;
    position: relative;
    z-index: 9;
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-bottom: 6rem;
    /*@include box-shadow(0 1rem 1rem rgba(0,0,0,0.4), 0 -.5rem .75rem rgba(0,0,0,0.4));*/
    
	&:before, &:after {
		content: '';
		width: 100%;
		display: block;
		position: absolute;
	}
	
	&:before {
      height: 8px;
      top: -7px;
      background: transparent url(../images/jagged_bottom.png) repeat-x 0;
    }
    
    &:after {
      background: transparent url(../images/jagged_top.png) repeat-x 0;
      height: 22px;
      bottom: -15px;
    }
    
}

h2, h1{
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

  a {
    @include transition;
    color: $primary;
    &:hover, &:focus {
      color: $highlights;
    }
  }

header {
	
	width: 100%;
	/*height: 23px;*/
	color: $test;
	margin-top: 50px;
}

li {
	list-style-type: none;
	margin: 1rem;
	vertical-align:middle;
}
a{
	text-decoration: none;
	color: $primary;
	&:hover, &:focus {
		color: $highlights;
		@include transition(all 5s);
	}
}

nav{
	
	color: $primary;
	font-size: 1.2rem;
	position: fixed;
	width: 100%;
	z-index: 999;
	margin-top: 15px;
	
	ul {
		background: transparentize( black, 0.5);
		display: block;
		position: absolute;
		width: 100%;
		margin: 0;
		padding: 0px;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
	}
	li{
		display: inline-block;
	}
	p{
		
		font-size: 42px;
		margin: 18px 3px 0 0;
	}

}

a:link {color:$highlights;}  

.logo{
	background: url('../images/logo.png');
	display: inline-block;
	vertical-align: middle;
	width: 83px;
	height: 83px;
	margin: 0 0 0 0;
	background-size: contain;
	&:hover, &:focus {
	  @include rotate(30deg);
	  @include transition(all 5s);
	}
}
#intro{
	color: $primary;
	width: 100%;
	text-align: center;
	padding-bottom: 0.5rem;
;

	display: block;
	h2 {
		font-size: 2rem;
		margin: 0 0 0 0;
	}
	h1 {
		font-size: 4rem;
		margin: .1em 0 .1em 0;
	}
	h3 {
	  margin: 100px 0 0 0;
	  font-size: 4rem;
  }
}

.title_line {
	border-bottom: 2px solid #fff;
	display: inline-block;
	width: 20%;
	height: 2px;
	margin: 0 15px 0 15px;
}

.cursive {
	font-family: 'Marck Script';
	font-weight: normal;
	text-shadow: 1px 1px 2px #515151;
	display: inline-block;

}

.jagged_bottom {
	background: url(../images/jagged_bottom.png) repeat-x;
	width: 100%;
	height: 8px;
	z-index: 20;
	margin-top: -7px;
	margin-bottom: 0px;
}
